<meta charset="utf-8" />

<polymer-element name="global-login-menu"> <template>
<div class="menu-item">
	<a href="user/{{currentUser.id}}">{{currentUser.name}}</a>
</div>
<div class="menu-item">
	<a href="../logout">ログアウト</a>
</div>
</template> <script>
	Polymer('global-login-menu', {
		ready : function() {
			var me = this;

			this.currentUser = {};
			App().currentUser().then(function(currentUser) {
				me.currentUser = currentUser;
			});
		}
	});
</script> </polymer-element>

<polymer-element name="login-form"> <template>
<form on-submit="{{submit}}">
	<div class="error">{{error}}</div>
	<div class="form-raw">
		<label>ID</label> <input name="name" type="text"
			value="{{currentUser.name}}" required />
	</div>
	<div class="form-raw">
		<label>パスワード</label> <input name="password" type="password"
			value="{{currentUser.password}}" required />
	</div>
	<div class="form-raw">
		<button type="submit">ログイン</button>
	</div>
</form>
</template> <script>
	Polymer('login-form', {
		ready : function() {
			this.currentUser = new User();
			this.error = null;
		},
		submit : function(evt, detail, sender) {
			var me = this;
			
			evt.preventDefault();
			new App().login(this.currentUser).catch(function(err) {
				console.error(err);
				me.error = err.message;
			});
		}
	});
</script> </polymer-element>

<polymer-element name="ink-cartridge-stocks"> <template>
<div>
	<a class="btn-positive" href="../replace">補充</a> <a
		class="btn-negative" href="../take_out">持ち出し</a>
	<template repeat="{{ic in inkCartridges}}">
	<div
		class="ink-cartridge {{ic.number <= ic.lowerLimitNumber ? 'warning' : ''}}">
		<div class="ink-cartridge-color" data-color="{{ic.color}}">&nbsp;</div>
		<div class="ink-cartridge-name">{{ic.name}}</div>
		<div class="ink-cartridge-number">{{ic.number}}個</div>
	</div>
	</template>
</div>
</template> <script>
	Polymer('ink-cartridge-stocks', {
		ready : function() {
			var me = this;

			this.inkCartridges = [];
			App().inkCartridges().then(function(inkCartridges) {
				me.inkCartridges = inkCartridges;
			});
		}
	});
</script> </polymer-element>

<polymer-element name="replace-ink-cartridge"> <template>
<form on-submit="{{submit}}">
	<div class="error">{{error}}</div>
	<div class="form-raw">
		<lebal>&nbsp;</lebal>
		<button class="btn-positive" type="submit">補充</button>
	</div>
	<template repeat="{{ic in inkCartridges}}">
	<div
		class="ink-cartridge {{ic.number <= ic.lowerLimitNumber ? 'warning' : ''}}">
		<div class="ink-cartridge-color" data-color="{{ic.color}}">&nbsp;</div>
		<div class="ink-cartridge-name">{{ic.name}}</div>
		<div class="ink-cartridge-number">
			<input name="replaceNumber" type="number"
				value="{{ic.replaceNumber}}" min="0" style="width: 2em;" />個
		</div>
	</div>
	</template>
</form>
</template> <script>
	Polymer('replace-ink-cartridge', {
		ready: function() {
			var me = this;
		
			this.inkCartridges = [];
			this.error = null;
			new App().inkCartridges().then(function(inkCartridges) {
				me.inkCartridges = inkCartridges;
			});
		},
		submit: function (evt, detail, sender) {
			var me = this;
			
			evt.preventDefault();
			new App().replace(this.inkCartridges).then(function () {
				new App().loadPage('/');
			}).catch(function (err) {
				me.error = err.message;
			});
		}
	});
</script> </polymer-element>

<polymer-element name="take-out-ink-cartridge"> <template>
<form on-submit="{{submit}}">
	<div class="error">{{error}}</div>
	<div class="form-raw">
		<lebal>&nbsp;</lebal>
		<button class="btn-negative" type="submit">持ち出し</button>
	</div>
	<div class="form-raw">
		<labal>申請者学籍番号</labal>
		<input name="studentId" type="text" value="{{studentId}}" required />
	</div>
	<div class="form-raw">
		<labal>申請者氏名</labal>
		<input name="studentName" type="text" value="{{studentName}}" required />
	</div>
	<template repeat="{{ic in inkCartridges}}">
	<div
		class="ink-cartridge {{ic.number <= ic.lowerLimitNumber ? 'warning' : ''}}">
		<div class="ink-cartridge-color" data-color="{{ic.color}}">&nbsp;</div>
		<div class="ink-cartridge-name">{{ic.name}}</div>
		<div class="ink-cartridge-number">
			<input name="replaceNumber" type="number"
				value="{{ic.replaceNumber}}" min="0" style="width: 2em;" />個
		</div>
	</div>
	</template>
</form>
</template> <script>
	Polymer('take-out-ink-cartridge', {
		ready: function() {
			var me = this;

			this.stidentId = null;
			this.studentName = null;
			this.inkCartridges = [];
			this.error = null;
			new App().inkCartridges().then(function(inkCartridges) {
				me.inkCartridges = inkCartridges;
			});
		},
		submit: function (evt, detail, sender){
			var me = this;
			
			evt.preventDefault();
			new App().takeOut(this.studentId, this.studentName, this.inkCartridges).then(function () {
				new App().loadPage('/');
			}).catch(function (err) {
				me.error = err.message;
			});
		}
	});
</script> </polymer-element>

<polymer-element name="ink-cartridge-log" attributes="year month userId">
<template> <template repeat="{{log in replaceLogs}}">
<div></div>
</template> <template repeat="{{log in takeOutLogs}}">
<div></div>
</template> </template> <script>
	Polymer('ink-cartridge-log', {
		ready: function() {
			var me = this;
			
			new App().logs().then(function(logs) {
				me.raplceLogs = logs.replaceLogs;
				me.takeOutLogs = logs.takeOutLogs;
			}).catch(function(err) {
				console.error(err);
			});
		}
	});
</script> </polymer-element>

<polymer-element name="ink-cartridges"> <script>
	Polymer('ink-cartridges', {
		ready: function(){
		}
	});
</script> </polymer-element>