@charset "utf-8";
a {
  color: #0047ff;
}
a:hover,
a:focus {
  color: #1057ff;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4em;
}
button,
.btn {
  background: #0047ff;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.2em;
  text-decoration: none;
}
button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background: #1057ff;
  color: white;
}
.btn-positive {
  background: #0047ff;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.2em;
  text-decoration: none;
  background: #00ff05;
}
.btn-positive:hover,
.btn-positive:focus {
  background: #1057ff;
  color: white;
}
.btn-positive:hover,
.btn-positive:focus {
  background: #10ff15;
}
.btn-negative {
  background: #0047ff;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.2em;
  text-decoration: none;
  background: #ff7200;
}
.btn-negative:hover,
.btn-negative:focus {
  background: #1057ff;
  color: white;
}
.btn-negative:hover,
.btn-negative:focus {
  background: #ff8210;
}
form .form-raw {
  margin: 0.4em 0;
  position: relative;
}
form .form-raw label {
  display: inline-block;
  left: 0;
  position: relative;
  width: 20em;
}
form .form-raw input,
form .form-raw textarea,
form .form-raw button {
  display: inline-block;
  left: 20em;
  position: absolute;
}
form .form-raw input,
form .form-raw textarea {
  width: 20em;
}
form .error {
  color: red;
  font-weight: bold;
}
.global-header {
  line-height: 1.8em;
}
.global-header a {
  color: white;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
.global-header a:hover,
.global-header a:focus {
  background: rgba(255, 255, 255, 0.1);
}
.global-header .menu-item {
  background: #0047ff;
  color: white;
  padding: 0 0.2em;
}
.global-header .global-menu {
  background: #0047ff;
  color: white;
  height: 1.8em;
  position: relative;
}
.global-header .global-menu .logo {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0.2em;
}
.global-header .global-menu .global-menu-login {
  position: absolute;
  right: 0;
  top: 0;
}
.global-header .global-menu .global-menu-login .menu-item {
  display: inline-block;
}
.global-header .local-menu {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 12em;
}
.global-main {
  margin: 4.2em auto 0 auto;
  position: relative;
  width: 800px;
}
.ink-cartridge {
  height: 1.4em;
  margin: 1.4em 0;
}
.ink-cartridge > * {
  display: inline-block;
  margin: 0 0.4em;
}
.ink-cartridge.warning {
  color: red;
}
.ink-cartridge .ink-cartridge-color {
  background: black;
  width: 0.7em;
}
.ink-cartridge .ink-cartridge-color[data-color="cyan"] {
  background: cyan;
}
.ink-cartridge .ink-cartridge-color[data-color="magenta"] {
  background: magenta;
}
.ink-cartridge .ink-cartridge-color[data-color="yellow"] {
  background: yellow;
}
.ink-cartridge .ink-cartridge-color[data-color="black"] {
  background: black;
}
.ink-cartridge .ink-cartridge-name {
  min-width: 20em;
}
.ink-cartridge .ink-cartridge-number {
  margin-right: 4em;
  text-align: right;
  width: 4em;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22WebContent%2Fresource%2Fstyle.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAA%2CSAAS%3BAAKT%3BEACC%2CcAAA%3B%3BAAEA%2CCAAC%3BAAAQ%2CCAAC%3BEAAS%2CcAAA%3B%3BAAGpB%3BAAAM%3BEACL%2CYAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAGD%3BEACC%2CkBAAA%3B%3BAAGD%3BAAAQ%3BEACP%2CmBAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3B%3BAAEA%2CMAAC%3BAAAD%2CIAAC%3BAAAQ%2CMAAC%3BAAAD%2CIAAC%3BEACT%2CmBAAA%3BEACA%2CYAAA%3B%3BAAIF%3BEAjBC%2CmBAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEAUA%2CmBAAA%3B%3BAARA%2CaAAC%3BAAAQ%2CaAAC%3BEACT%2CmBAAA%3BEACA%2CYAAA%3B%3BAAQD%2CaAAC%3BAAAQ%2CaAAC%3BEAAS%2CmBAAA%3B%3BAAGpB%3BEAxBC%2CmBAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEAiBA%2CmBAAA%3B%3BAAfA%2CaAAC%3BAAAQ%2CaAAC%3BEACT%2CmBAAA%3BEACA%2CYAAA%3B%3BAAeD%2CaAAC%3BAAAQ%2CaAAC%3BEAAS%2CmBAAA%3B%3BAAGpB%2CIACC%3BEACC%2CeAAA%3BEACA%2CkBAAA%3B%3BAAHF%2CIACC%2CUAIC%3BEACC%2CqBAAA%3BEACA%2COAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3B%3BAATH%2CIACC%2CUAWC%3BAAZF%2CIACC%2CUAWQ%3BAAZT%2CIACC%2CUAWkB%3BEAChB%2CqBAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3B%3BAAfH%2CIACC%2CUAiBC%3BAAlBF%2CIACC%2CUAiBQ%3BEAAW%2CWAAA%3B%3BAAlBpB%2CIAqBC%3BEACC%2CUAAA%3BEACA%2CiBAAA%3B%3BAAIF%3BEACC%2CkBAAA%3B%3BAADD%2CcAGC%3BEACC%2CYAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CqBAAA%3BEACA%2CWAAA%3B%3BAAEA%2CcAPD%2CEAOE%3BAAAQ%2CcAPV%2CEAOW%3BEAAS%2CoCAAA%3B%3BAAVrB%2CcAaC%3BEACC%2CmBAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3B%3BAAhBF%2CcAmBC%3BEACC%2CmBAAA%3BEACA%2CYAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3B%3BAAvBF%2CcAmBC%2CaAMC%3BEACC%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CeAAA%3B%3BAA5BH%2CcAmBC%2CaAYC%3BEACC%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CMAAA%3B%3BAAlCH%2CcAmBC%2CaAYC%2CmBAKC%3BEAAa%2CqBAAA%3B%3BAApChB%2CcAwCC%3BEACC%2CWAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3B%3BAAIF%3BEACC%2CyBAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3B%3BAAGD%3BEACC%2CaAAA%3BEACA%2CeAAA%3B%3BAAEA%2CcAAE%3BEACD%2CqBAAA%3BEACA%2CeAAA%3B%3BAAGD%2CcAAC%3BEAAW%2CUAAA%3B%3BAATb%2CcAWC%3BEACC%2CiBAAA%3BEACA%2CYAAA%3B%3BAAEA%2CcAJD%2CqBAIE%3BEAAsB%2CgBAAA%3B%3BAACvB%2CcALD%2CqBAKE%3BEAAyB%2CmBAAA%3B%3BAAC1B%2CcAND%2CqBAME%3BEAAwB%2CkBAAA%3B%3BAACzB%2CcAPD%2CqBAOE%3BEAAuB%2CiBAAA%3B%3BAAlB1B%2CcAqBC%3BEAAsB%2CeAAA%3B%3BAArBvB%2CcAuBC%3BEACC%2CiBAAA%3BEACA%2CiBAAA%3BEACA%2CUAAA%22%7D */