@charset "utf-8";
@base-color: rgb(0, 71, 255);
@base-hover-color: rgb(16, 87, 255);
@line-height: 1.4em;

a {
  color: @base-color;

  &:hover, &:focus { color: @base-hover-color; }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { line-height: @line-height; }

button, .btn {
  background: @base-color;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: @line-height;
  line-height: @line-height;
  padding: 0 0.2em;
  text-decoration: none;

  &:hover, &:focus {
    background: @base-hover-color;
    color: white;
  }
}

.btn-positive {
  .btn;
  background: rgb(0, 255, 5);

  &:hover, &:focus { background: rgb(16, 255, 21); }
}

.btn-negative {
  .btn;
  background: rgb(255, 114, 0);

  &:hover, &:focus { background: rgb(255, 130, 16); }
}

form {
  .form-raw {
    margin: 0.4em 0;
    position: relative;

    label {
      display: inline-block;
      left: 0;
      position: relative;
      width: 20em;
    }

    input, textarea, button {
      display: inline-block;
      left: 20em;
      position: absolute;
    }

    input, textarea { width: 20em; }
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

.global-header {
  line-height: @line-height + 0.4em;

  a {
    color: white;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    width: 100%;

    &:hover, &:focus { background: rgba(255, 255, 255, 0.1); }
  }

  .menu-item {
    background: @base-color;
    color: white;
    padding: 0 0.2em;
  }

  .global-menu {
    background: @base-color;
    color: white;
    height: @line-height + 0.4em;
    position: relative;

    .logo {
      font-size: 100%;
      font-weight: bold;
      margin: 0 0.2em;
    }

    .global-menu-login {
      position: absolute;
      right: 0;
      top: 0;

      .menu-item { display: inline-block; }
    }
  }

  .local-menu {
    float: left;
    height: 100%;
    min-height: 100%;
    width: 12em;
  }
}

.global-main {
  margin: @line-height * 3 auto 0 auto;
  position: relative;
  width: 800px;
}

.ink-cartridge {
  height: @line-height;
  margin: @line-height 0;

  & > * {
    display: inline-block;
    margin: 0 0.4em;
  }

  &.warning { color: red; }

  .ink-cartridge-color {
    background: black;
    width: 0.7em;

    &[data-color="cyan"] { background: cyan; }
    &[data-color="magenta"] { background: magenta; }
    &[data-color="yellow"] { background: yellow; }
    &[data-color="black"] { background: black; }
  }

  .ink-cartridge-name { min-width: 20em; }

  .ink-cartridge-number {
    margin-right: 4em;
    text-align: right;
    width: 4em;
  }
}
